.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    .flexcolumn();

    header {
        .flexcolumn();
        margin: 2em;
    }
    main {
        .flexcolumn();

        form {
            .flexcolumn();
            margin: 1em;
        }
        .board {
            .flexrow();
            margin: 1em;
            padding: 2em;
            gap: 10em;

            .boardGuess {
                .flexcolumn();

                .row {
                    .flexrow();

                    .letter {
                        width: 50px;
                        height: 50px;
                        border: solid 2px black;
                        border-radius: 20%;
                        margin: .2em;
                    }
                }
                .keyboard {
                    .flexrow();
                    flex-wrap: wrap;
                    width: 650px;

                    span {
                        width: 50px;
                        height: 50px;
                        border: solid 2px black;
                        border-radius: 20%;
                        margin: .2em;
                        text-align: center;
                        font-size: 2.1em;
                    }
                    .white {
                        background-color: white;
                    }
                    .green {
                        background-color: green;
                    }
                    .yellow {
                        background-color: yellow;
                    }
                    .grey {
                        background-color: grey;
                    }
                }
            }
        }
    }
}