@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/archivonarrow/v24/tss5ApVBdCYD5Q7hcxTE1ArZ0Zz8oY2KRmwvKhhvLFGKpA.ttf) format('truetype');
  }
  @font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2hsY.ttf) format('truetype');
  }
  .flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'VT323', monospace;
    background-color: #000;
    color: #f110b9;
  }
  body header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
  }
  body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  body main form input[type=text] {
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'VT323', monospace;
  }
  body main form select {
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'VT323', monospace;
    padding: 0.5em;
  }
  body main form button {
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'VT323', monospace;
    background-color: #000;
    box-shadow: 5px 2px #808080;
    color: #f110b9;
    margin: 1em;
  }
  body main .board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 2em;
    gap: 10em;
  }
  body main .board .boardGuess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .board .boardGuess .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body main .board .boardGuess .row .letter {
    width: 50px;
    height: 50px;
    border: solid 2px #f110b9;
    border-radius: 20%;
    margin: 0.2em;
    background-color: #fff;
    color: #f110b9;
  }
  body main .board .boardGuess .keyboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 650px;
  }
  body main .board .boardGuess .keyboard span {
    width: 50px;
    height: 50px;
    border: solid 2px #f110b9;
    border-radius: 20%;
    margin: 0.2em;
    text-align: center;
    font-size: 2.1em;
  }
  body main .board .boardGuess .keyboard .white {
    background-color: white;
  }
  body main .board .boardGuess .keyboard .green {
    background-color: green;
  }
  body main .board .boardGuess .keyboard .yellow {
    background-color: yellow;
  }
  body main .board .boardGuess .keyboard .grey {
    background-color: grey;
  }
  body main .contribs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  body main .contribs .contrib {
    margin: 1em;
    padding: 0.5em;
    border: 3px groove #FFEDAB;
    background-color: #DBEBD4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .contribs .contrib a {
    color: black;
    text-decoration: underline;
    margin: 1em;
    padding: 0.5em;
    background-color: #DBEBD4;
  }
  body main .contribs .contrib .contribImg {
    max-width: 100px;
    margin: 0.3em;
  }
  
